body{
    background-color: grey;
}

#arrow {
    position: absolute;
    right: 0;
    width: 30px;
    height: 30px;
    transform: rotate(180deg);
}

#arrow1 {
    position: absolute;
    left: 0;
    width: 30px;
    height: 30px;
}

.box-container {
    border: 2px solid black;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box-container .box {
    width: 200px;
    height: 200px;
    border: 1px solid black;
}

#cssCode {
    width: 100%;
}

#object{
    position: relative;
    top: 80px;
    left: 75px;
}